@font-face {
    font-family: 'DIN-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DIN-Regular'), url('../fonts/DINR____.woff') format('woff');
}

#page {
  position: relative;
  font-family: "DIN-Regular";
  font-size: 14px;
  width: 960px;
  height: 952px;
  left: 0px;
  right: 0;
  top: 0px;
  margin: 0 auto;
}
#summary {
  position: relative;
  font-family: "DIN-Regular";
  font-size: 14px;
  width: 960px;
  height: 952px;
  left: 0px;
  right: 0;
  top: 0px;
  margin: 0 auto;
}

.summary-table {
  position: absolute;
  left: 0px;
  top: 490px;
  padding-top: 10px;
}

.summary-table th {
  border: solid 1px black;
  text-align: center;
}

.summary-table table, td {
  border: solid 1px black;
  background-color: rgb(243, 243, 240);
  text-align: left;
  word-wrap: break-word;
  width: 960px;
}

.summary-title {
  position: absolute;
  font-size: 25px;
  left: 9px;
  top: 427px;
}

.gift-vouchers {
  position: absolute;
  font-size: 19px;
  left: 9px;
  top: 22px;
  letter-spacing: 1px;
}

.image {
  position: absolute;
  left: 0px;
  top: 57px;
}

.image-select {
  position: absolute;
  left: 600px;
  top: 57px;
}
.title {
  position: absolute;
  left: 9px;
  top: 447px;
}

.from {
  position: absolute;
  left: 11px;
  top: 496px;
}

.input-from [type=text]{
  left: 10px;
  top: 516px;
  line-height: 14px;
  padding-left: 8px;
}

.your-email {
  position: absolute;
  left: 10px;
  top: 589px;
}

.input-your-email [type=text] {
  left: 10px;
  top: 611px;
  line-height: 14px;
  padding-left: 8px;
}
.to {
  position: absolute;
  left: 10px;
  top: 686px;
}

.input-to [type=text]{
  left: 10px;
  top: 708px;
  line-height: 14px;
  padding-left: 9px;
}

.recipients-email {
  position: absolute;
  left: 11px;
  top: 783px;
}

.input-recipients-email [type=text] {
  left: 10px;
  top: 805px;
  padding-left: 9px;
  line-height: 14px;
}

.faq {
  color: rgb(44, 44, 43);
  text-decoration: underline;
  position: absolute;
  left: 11px;
  top: 895px;
}

.voucher-amount {
  position: absolute;
  left: 490px;
  top: 496px;
}

.voucher-box select  {
  color: rgb(102, 102, 102);
  border: none;
  position: absolute;
  left: 490px;
  top: 516px;
  width: 460px;
  height: 37px;
  -webkit-appearance: none;            
  -moz-appearance: none;             
  background: url('../images/arrow.png') no-repeat;         
  background-color: rgb(243, 243, 240); 
  background-position: 432px, 16px;
  padding-left: 9px;

}

.message {
  position: absolute;
  left: 491px;
  top: 686px;

}

.message-text-area textarea{
  font-family: "DIN-Regular";
  background-color: rgb(243, 243, 240);
  border: none;
  resize: none;
  position: absolute;
  left: 490px;
  top: 708px;
  width: 460px;
  height: 134px;
  line-height: 21px;
  padding-left: 9px;

}

::-webkit-input-placeholder { 
  font-family: "DIN-Regular";
  color: rgb(102, 102, 102);
  font-size: 13px;
}

input {
  border: none;
  position: absolute;
  background-color: rgb(243, 243, 240);
  box-sizing: border-box;
  width: 460px;
  height: 37px;
}

.buy-gift-voucher input{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  left: 780px;
  top: 884px;
  width: 170px;
  height: 37px;
  cursor: pointer;
  text-align: left;
  padding-left: 24px;
}

.back-to-form input{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  margin-top: 25px;
  left: 780px;
  width: 170px;
  height: 37px;
  cursor: pointer;
}

.error {
  color: red;
}

